* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 75%;
  margin: 0 auto;
}

/****** start properties the header *****/

header {
  min-height: 100vh;
  background-image: url(../images/laptop.jpg);
  background-size: cover;
  padding: 10px 0;
  color: #fff;
}

.navbarBrand a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  overflow: hidden;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  text-transform: capitalize;
}

header h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 70px;
  text-transform: capitalize;
}
header h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
}

header .buttons {
  margin: 20px auto;
  width: 300px;
}
header .btn-theme {
  background-color: #1a58a5;
  color: #fff;
  border: none;
  width: 120px;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #1a58a5;
  transition: all 0.2s ease-in-out;
}

header .btn-featurs {
  background: none;
  color: #fff;
  border: none;
  width: 120px;
  padding: 20px;
  border: 1px solid #fff;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  border-radius: 20px;
}

header a:hover {
  color: #1a58a5;
  transition: all 0.2s ease-in-out;
}
/* mobile only !! styles *************/
@media (max-width: 767px) {
  .navbarBrand {
    display: none;
  }

  header nav .navbarLinks {
    margin: 0 auto;
    width: 120px;
  }
  header nav ul li {
    display: block;
    margin: 10px 0;
  }

  header h1 {
    margin-top: 50px;
  }
}

/*** all except mobiles  */
@media (min-width: 767px) {
  .navbarBrand {
    display: inline;
  }
  header nav ul li {
    float: left;
  }

  header nav .navbarLinks {
    float: right;
  }
}

/****** end properties the header *****/





/****** start properties the services section*****/

#services .service {
  padding: 25px 15px;
  box-sizing: border-box;
}

#services i {
  font-size: 40px;
  color: #1a58a5;
}

h3 {
  font-size: 25px;
  color: #1a58a5;
  margin: 10px 0;
  text-transform: capitalize;
}

/*** all except mobiles  */
@media (min-width: 767px) {
  #services .service {
    width: 33.3333%;
    float: left;
  }
}

/****** end properties the services section*****/
